[Unit]
Description=Y50 subwoofer manager
After=sound.target
Requires=sound.target

[Service]
ExecStart=/usr/bin/y50-subwoofer

[Install]
WantedBy=multi-user.target
